@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR-GRADIENT-FIRST: hsl(6, 100%, 80%);
  --BGCOLOR-GRADIENT-SECONDARY: hsl(335, 100%, 65%);

  --BGCOLOR-PALE-BLUE: hsl(243, 100%, 93%);
  --BGCOLOR-GRAYISH-BLUE: hsl(229, 7%, 55%);
  --BGCOLOR-DARK-BLUE: hsl(228, 56%, 26%);
  --BGCOLOR-VERY-DARK-BLUE: hsl(229, 57%, 11%);
}

body {
  min-height: 100vh;
  font-size: 0.8rem;
  color: var(--BGCOLOR-PALE-BLUE);
  font-family: "Raleway", sans-serif;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

header {
  background-color: var(--BGCOLOR-DARK-BLUE);
  padding: 3rem;
  border-radius: 30px 110px 30px 30px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  background-color: var(--BGCOLOR-VERY-DARK-BLUE);
  border-radius: 10px;
  margin: 1rem;
  margin-left: 0;
  padding: 0.6rem;
  width: 20%;
}

nav ul li:nth-child(2) {
  padding-top: 1rem;
}

nav ul li:nth-child(3) {
  padding-top: 1.2rem;
}

nav ul li img {
  width: 100%;
  text-align: center;
}

main {
  background-color: var(--BGCOLOR-DARK-BLUE);
  padding: 3rem;
  border-radius: 30px;
  position: relative;
  margin-bottom: 2rem;
}

main::after {
  content: "185 GB LEFT";
  background-color: var(--BGCOLOR-PALE-BLUE);
  color: var(--BGCOLOR-VERY-DARK-BLUE);
  font-size: 1rem;
  padding: 20px;
  position: absolute;
  bottom: -1.7rem;
  right: 6rem;
  font-weight: bolder;
  border-radius: 15px;
}

.loading-outside {
  background-color: var(--BGCOLOR-VERY-DARK-BLUE);
  opacity: 0.8;
  padding: 2px;
  border-radius: 10px;
  margin: 10px 0;
}

.loading-inside {
  background-image: linear-gradient(
    to right,
    var(--BGCOLOR-GRADIENT-FIRST),
    var(--BGCOLOR-GRADIENT-SECONDARY)
  );
  border-radius: 10px;
  width: 80%;
}

.dot {
  background-color: var(--BGCOLOR-PALE-BLUE);
  width: 10%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.159);
  margin-left: 90%;
  margin-right: 5%;
}

p {
  color: var(--BGCOLOR-PALE-BLUE);
  opacity: 0.8;
}

.gb {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

@media only screen and (min-width: 320px) {
  main::after {
    right: 4rem;
  }

  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    padding-top: 0.8rem;
  }
}

@media only screen and (min-width: 425px) {
  nav ul li:nth-child(1) img {
    width: 25px;
    padding-right: 0;
  }
  .dot {
    width: 9%;
  }
}

@media only screen and (min-width: 768px) {
  .dot {
    width: 4.5%;
    margin-left: 95%;
    margin-right: 6%;
  }

  main::after {
    right: 18rem;
  }

  nav ul li:nth-child(1) img {
    width: 90%;
    height: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    background-color: var(--BGCOLOR-VERY-DARK-BLUE);
    background-image: url(../images/bg-desktop.png);
    background-position: top left;
    background-size: cover;
  }

  header {
    height: 20%;
    margin-top: 25vh;
  }

  .desktop main {
    margin-top: 30vh;
    position: relative;
  }

  .desktop main::before {
    content: "185 GB LEFT";
    position: absolute;
    top: -2rem;
    right: 3rem;
    background-color: var(--BGCOLOR-PALE-BLUE);
    border-radius: 5px 5px 5px 5px;
    color: var(--BGCOLOR-DARK-BLUE);
    font-weight: bolder;
    padding: 1.2rem;
  }

  .desktop main::after {
    content: "";
    background-color: transparent;
  }

  .dot {
    width: 7%;
  }
}
